html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn{
  margin-right: 0.625rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn{
  margin-right: 0.625rem
}

.myAppDemoWT .myCustomText{
  display: inline-block;
  font-weight: bold;
}
